@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main: hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--Very-dark-blue-main);
}
/* is flex start the best way to put text on left side? */
.container {
    width: 300px;
    height: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--Very-dark-blue-card);
}
.images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.images:hover {
    background-color: var(--Cyan);
    z-index: 1;
}
.equilibrium-img {
    padding: 1rem;
    width: 100%;
    border-radius: 20px;
    z-index: 1;
}
.equilibrium-img:hover {
    opacity: 0.3;
    z-index: 0;
}
.eye {
    z-index: 0;
    position: absolute;
}
.container h1 {
    font-size: 20px;
    font-weight: 700;
    color: var(--White);
    margin-left: 20px;
}
.container p {
    margin-left: 20px;
}
.icon-row {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-group {
    display: flex;
}
.creator {
    font-size: 15px;
    color: var(--White);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* inline block not putting image on same line as text, had to use flex */
.creator img {
    display: inline-block;
    width: 30px;
    margin-right: 0.5rem;
}
.line {
    border-bottom: solid 1px var(--Very-dark-blue-line);
    display: grid;
    margin: 0 auto;
}
.blue-text {
    color: var(--Soft-blue);
}
.green-text {
    color: var(--Cyan);
}
.eth {
    font-size: 0.9rem;
    font-family: inherit;
}
.days {
    font-size: 0.9rem;
    font-family: inherit;
}
.name {
    margin-left: 0.3rem;
}
.name:hover {
    color: var(--Cyan);
}
h1:hover {
    color: var(--Cyan);
}
@media screen and (max-width: 375px) {
    .card {
        width: 90%;
    }
}