@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main: hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --ff: 'Outfit', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--Very-dark-blue-main);
    display: grid;
    place-content: center;
    height: 100vh;
    font-family: var(--ff);
}
.card {
    width: 300px;
    height: 500px;
    border-radius: 1rem;
    background-color: var(--Very-dark-blue-card);
    display: grid;
    gap: 1rem;
    padding: 1rem;
}
h1 {
    font-size: 1.5rem;
    color: white;
}
p {
    font-size: 1rem;
    color: var(--Soft-blue);
}
.cube {
    width: 100%;
    border-radius: 0.5rem;
    z-index: 1;
}
.eye {
    position: absolute;
    z-index: 0;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex > div {
    display: flex;
    gap: 0.5rem;
}
.green {
    color: var(--Cyan);
}
.highlight:hover {
    color: var(--Cyan);
}
.creator {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid var(--Very-dark-blue-line);
    padding: 1rem 0;
}
.creator img {
    width: 30px;
    border: 1px solid white;
    border-radius: 100px;
}
.creator span {
    color: var(--White);
}
.card-img {
    width: 100%;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cube:hover {
    opacity: 0.4;
    z-index: 0;
}
.card-img:hover {
    background-color: var(--Cyan);
}